.forgotpassword_container {
    width: 400px;
    height: 50vh;
    padding: 25px 25px !important;
    justify-content: space-around !important;
}

.forgotpass_title {
    margin-top: 15px !important;
    margin-bottom: 25px !important;
    font-size: 20px;
}

.forgotpass_img {
    padding-top: -25px !important;
}