.resetpassword_container {
    width: 400px;
    height: 70vh;
    padding: 60px 30px;
}

.MuiFormControlLabel-root {
    display: flex;
    justify-self: start;
    margin-top: 20px;
}

.forgot_password_text {
    padding-bottom: 25px;
}